<footer class="footer">
    <div class="container">
        <div class="footer__content">
            <span>©2014 tulusdriyo. All Rights Reserved.</span>
            <div class="socials">
                <a class="socials__item" href="https://www.behance.net/"><i class="fab fa-behance"></i></a>
                <a class="socials__item" href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                <a class="socials__item" href="https://ru.wikipedia.org/wiki/Google%2B"><i class="fab fa-google-plus-g"></i></a>
                <a class="socials__item" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                <a class="socials__item" href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
    </div>
</footer>