<header>
    <div class="container">
        <nav class="nav">
            <div class="nav__logo">
                <a href="#logo">
                    <img src="img/logo.png" alt="logo">
                </a>
            </div>
            <div class="nav__menu">
                <a href="#" class="nav__menu-item">Home</a>
                <a href="#about" class="nav__menu-item">About</a>
                <a href="#services" class="nav__menu-item">Services</a>
                <a href="#works" class="nav__menu-item">Works</a>
                <a href="#contact" class="nav__menu-item">Contact</a>
            </div>
        </nav>
    </div>
</header>